.vscode
Api/obj
.idea/.idea.dotnet-server/.idea/.gitignore
.idea/.idea.dotnet-server/.idea/.name
.idea/.idea.dotnet-server/.idea/encodings.xml
.idea/.idea.dotnet-server/.idea/indexLayout.xml
.idea/.idea.dotnet-server/.idea/vcs.xml
